<p class="site-copyright">
   By <a href="{{ site.baseurl }}/about">Duygu Dağdelen</a> ⓒ 2024.
   This site is a continuous work in progress, evolving with every new idea and inspiration.
</p>
<div class="social-links">
  {% for network in site.networks %}
    <a href="{{ network.url }}" title="{{ network.title }}" target="_blank">
       <i class="{{ network.icon }}"></i>
    </a>
  {% endfor %} 
</div>
<div class="site-contact">
   <a href="{{ site.baseurl }}/contact">Contact</a>
   {% assign ko_fi = site.networks | where: "title", "Ko-fi" | first %}
   <a href="{{ ko_fi.url }}" target="_blank">Give Support</a>
</div>
