html, body {
  border: 0;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  max-width: 900px;
}

section {
  border-right: 1px black solid;
  display: flex;
  flex: 1;
  height: 70%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact {
  border-right: none;
}

.profile-img {
  position: relative;
  display: inline-block;
  width: 5em;
  border-radius: 50%;
  border: 1px solid black;
  float: right;
  margin: 0;
  padding: 0;
}
.panel-inactive .profile-img {
  width: 4em;
  margin-left: 0.3em;
}
.panel-active #bio header img {
  display: none !important;
}

/*  Panel */
header {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  transform: rotate(-90deg);
  font-size: min(5vw, 32px);
  margin: 0;
}
@media screen and (min-width: 1200px) {
  header {
      font-size: 32px; /* Resets font size to 32px for screens wider than 1200px */
  }
}
.panel-active header {
  color: var(--marker);
  letter-spacing: 2px;
  transform: rotate(0deg);
  transition: 0.5s ease;
  font-size: calc(1.3 * min(5vw, 32px));
}
#bio header, #contact header {
  transform: rotate(0deg); /* No rotation for image/icon */
}
#contact i {
  font-size: 1.1em;
  padding-left: 15px;
  padding-right: 15px;
}

.content {
  display: none;
  font-size: min(4vw, 19px); /* Limits font size to 19px or 4vw, whichever is smaller */
  padding: 3% 10%;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 800px;
  max-height: calc(100% - 20px);
}
@media screen and (min-width: 1200px) {
  .content {
      font-size: 19px; /* Resets font size to 19px for screens wider than 1200px */
  }
}

.panel-inactive:hover {
  flex: 1.1;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
}
.panel-active {
  flex: 16;
  transition: 1s ease;
}
.panel-active .content {
  display: block;
}

.links, .panel-link {
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--marker);
  transition: color 0.3s ease;
  cursor: pointer;
}
.links:hover, .panel-link:hover {
  color: var(--marker);
  font-weight: bold;
}
