main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.25em;
  margin: 2em auto 0;
  max-width: 800px;
  font-size: 1.1em;
  color: var(--color-light-main);
}

h1 {
  margin-bottom: 0;

  color: #7B7B7B;
  animation: glitch 1s infinite;
  position: relative;
  display: inline-block;
}
        .glitch:before, .glitch:after {
            content: attr(data-text);
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;
            color: #ff65a3;
            overflow: hidden;
            clip: rect(0, 900px, 0, 0);
            animation: glitch 2.5s infinite;
        }
        .glitch:after {
            left: 2px;
            text-shadow: -1px 0 #ff65a3;
            animation: glitch 2.5s infinite;
        }
        @keyframes glitch {
            0% { clip: rect(44px, 9999px, 56px, 0); }
            5% { clip: rect(28px, 9999px, 48px, 0); }
            10% { clip: rect(17px, 9999px, 24px, 0); }
            15% { clip: rect(64px, 9999px, 68px, 0); }
            20% { clip: rect(14px, 9999px, 56px, 0); }
            25% { clip: rect(53px, 9999px, 78px, 0); }
            30% { clip: rect(88px, 9999px, 100px, 0); }
            35% { clip: rect(50px, 9999px, 78px, 0); }
            40% { clip: rect(84px, 9999px, 97px, 0); }
            45% { clip: rect(19px, 9999px, 30px, 0); }
            50% { clip: rect(8px, 9999px, 22px, 0); }
            55% { clip: rect(60px, 9999px, 88px, 0); }
            60% { clip: rect(28px, 9999px, 48px, 0); }
            65% { clip: rect(47px, 9999px, 59px, 0); }
            70% { clip: rect(16px, 9999px, 30px, 0); }
            75% { clip: rect(63px, 9999px, 78px, 0); }
            80% { clip: rect(9px, 9999px, 29px, 0); }
            85% { clip: rect(64px, 9999px, 82px, 0); }
            90% { clip: rect(35px, 9999px, 57px, 0); }
            95% { clip: rect(11px, 9999px, 22px, 0); }
            100% { clip: rect(48px, 9999px, 65px, 0); }
        }
        .glitch:before, .glitch:after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .glitch:before {
            animation: glitch 0.5s infinite linear alternate-reverse;
        }
        .glitch:after {
            animation: glitch 0.8s infinite linear alternate-reverse;
        }

p {
  margin-top: 0;
}
