:root {
  --font-size-home-header: 1.6em;
}

@media screen and (min-width: 60em) {
  :root {
    --font-size-home-header: 2em;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.25em;
  margin: 2em auto 0;
  max-width: 800px;
  font-size: 1.1em;
  color: var(--color-light-main);
}

.home-header {
  display: block;
  font-size: var(--font-size-home-header);
  color: #7B7B7B;
  font-weight: bold;
  font-family: var(--mono-font);
  margin: 0;
  position: relative;
  animation: glitch 1s infinite;
}
.home-header::before, .home-header::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.home-header::before {
  left: 2px;
  text-shadow: -2px 0 #C4C8CB;
  animation: glitch 1s infinite reverse;
}
.home-header::after {
  left: -2px;
  text-shadow: -2px 0 #949EA7;
  animation: glitch 1.5s infinite;
}
@keyframes glitch {
  0% {
    clip: rect(calc(12px * var(--font-size-factor)), 9999px, calc(101px * var(--font-size-factor)), 0);
    transform: skew(0.3deg);
  }
  10% {
    clip: rect(calc(83px * var(--font-size-factor)), 9999px, calc(113px * var(--font-size-factor)), 0);
    transform: skew(0.6deg);
  }
  20% {
    clip: rect(calc(39px * var(--font-size-factor)), 9999px, calc(82px * var(--font-size-factor)), 0);
    transform: skew(0.4deg);
  }
  30% {
    clip: rect(calc(13px * var(--font-size-factor)), 9999px, calc(84px * var(--font-size-factor)), 0);
    transform: skew(0.8deg);
  }
  40% {
    clip: rect(calc(82px * var(--font-size-factor)), 9999px, calc(45px * var(--font-size-factor)), 0);
    transform: skew(0.3deg);
  }
  50% {
    clip: rect(calc(43px * var(--font-size-factor)), 9999px, calc(75px * var(--font-size-factor)), 0);
    transform: skew(0.6deg);
  }
  60% {
    clip: rect(calc(65px * var(--font-size-factor)), 9999px, calc(120px * var(--font-size-factor)), 0);
    transform: skew(0.4deg);
  }
  70% {
    clip: rect(calc(57px * var(--font-size-factor)), 9999px, calc(96px * var(--font-size-factor)), 0);
    transform: skew(0.8deg);
  }
  80% {
    clip: rect(calc(45px * var(--font-size-factor)), 9999px, calc(78px * var(--font-size-factor)), 0);
    transform: skew(0.3deg);
  }
  90% {
    clip: rect(calc(36px * var(--font-size-factor)), 9999px, calc(57px * var(--font-size-factor)), 0);
    transform: skew(0.6deg);
  }
  100% {
    clip: rect(calc(89px * var(--font-size-factor)), 9999px, calc(100px * var(--font-size-factor)), 0);
    transform: skew(0.4deg);
  }
}

:root {
  --font-size-factor: 1;
}

@media screen and (min-width: 60em) {
  :root {
    --font-size-factor: calc(2em / 1.6em);
  }
}

p {
  margin-top: 0;
}
