main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.25em;
  margin: 2em auto 0;
  max-width: 800px;
  font-size: 1.1em;
  color: var(--color-light-main);
}

.home-header {
  display: block;
  font-size: 1.6em;
  color: #7B7B7B;
  font-weight: bold;
  font-family: var(--mono-font);
  margin: 0;
  position: relative;
  animation: glitch 1s infinite;
}
.home-header::before, .home-header::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  clip: var(--clip);
}
.home-header::before {
  left: 2px;
  text-shadow: -2px 0 #C4C8CB;
  animation: glitch 1s infinite reverse;
}
.home-header::after {
  left: -2px;
  text-shadow: -2px 0 #949EA7;
  animation: glitch 1.5s infinite;
}

@keyframes glitch {
  0% {
      --clip: rect(0, 900px, 12px, 0);
      transform: skew(0.3deg);
  }
  10% {
      --clip: rect(30px, 900px, 83px, 0);
      transform: skew(0.6deg);
  }
  20% {
      --clip: rect(10px, 900px, 39px, 0);
      transform: skew(0.4deg);
  }
  30% {
      --clip: rect(20px, 900px, 13px, 0);
      transform: skew(0.8deg);
  }
  40% {
      --clip: rect(25px, 900px, 82px, 0);
      transform: skew(0.3deg);
  }
  50% {
      --clip: rect(10px, 900px, 43px, 0);
      transform: skew(0.6deg);
  }
  60% {
      --clip: rect(40px, 900px, 65px, 0);
      transform: skew(0.4deg);
  }
  70% {
      --clip: rect(60px, 900px, 57px, 0);
      transform: skew(0.8deg);
  }
  80% {
      --clip: rect(5px, 900px, 45px, 0);
      transform: skew(0.3deg);
  }
  90% {
      --clip: rect(25px, 900px, 36px, 0);
      transform: skew(0.6deg);
  }
  100% {
      --clip: rect(55px, 900px, 89px, 0);
      transform: skew(0.4deg);
  }
}

@media screen and (min-width: 60em) {
  .home-header {
    font-size: 2em !important;
  }
}

p {
  margin-top: 0;
}
